.output-div {
  color: #a7aeb8;
  background-color: #455368;
}

.keyboard {
  background-color: #FFF;
}

.btn {
  color: #8d9299;
  background-color: #f1f1f1;
}

.operator {
  color: white;
  background-color: #f57e72;
}
